.cell {
  background-color: #1f422b;
  overflow: hidden;
}
.cell.mark {
  background-color: red;
}
.cell.tenByTen {
  font-size: 2em;
  line-height: 1.4;
  padding-left: 0.4em;
}
.cell:hover {
  cursor: pointer;
}
.cell.open {
  background-color: #616161;
}
.cell.open.green {
  color: rgb(3, 189, 3);
}
.cell.open.blue {
  color: blue;
}
.cell.open.lightblue {
  color: rgb(64, 131, 255);
}
.cell.open.orange {
  color: orange;
}
.cell.open.red {
  color: red;
}
.cell.open.purple {
  color: purple;
}
.cell.open.red {
  color: red;
}
.cell.open.black {
  color: black;
}